@font-face {
	font-family: 'Euclid Circular A';
	src: url('../fonts/euclid-circular-a.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$min-desktop-viewport: 1440px;
$min-tablet-viewport: 900px;